@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ms-auto">
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
			admin
			<span class="fa fa-caret-down"></span>
		</a>
		<ul class="dropdown-menu dropdown-menu-end">
			<li>
				<a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item" target="_self">
					Settings
				</a>
			</li>
			<li class="dropdown-divider"></li>
			<li>
				<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
					<button class="dropdown-item" type="submit">Sign Out</button>
				</form>
			</li>
		</ul>
	</li>
</ul>