@{
	if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
	{
		Layout = (string)parentLayout;
	}
	else
	{
		Layout = "/Pages/Shared/_Layout.cshtml";
	}
}

<h2>System</h2>
<div>
	<hr />
	<div class="row">
		<div class="col-md-3">
			<partial name="_SystemNav" />
		</div>
		<div class="col-md-9">
			@RenderBody()
		</div>
	</div>
</div>

@section Scripts {
	@RenderSection("Scripts", required: false)
}
