@page
@model FlavorsModel
@{
	ViewData["Title"] = "Flavors";
}

<h2>Flavors</h2>

<div class="row justify-content-md-end">
	<div class="col-md-auto">
		<button class="btn btn-secondary">TEst</button>
	</div>
</div>

<table class="table">
	<thead class="thead-light">
		<tr>
			<th scope="col">Flavor Name</th>
			<th scope="col">vCPUs</th>
			<th scope="col">Memory</th>
			<th scope="col">Root Disk</th>
			<th scope="col">Ephemeral Disk</th>
			<th scope="col">Swap Disk</th>
			<th scope="col">ID</th>
			<th scope="col">Public</th>
			<th scope="col">Metadata</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		</tr>
	</tbody>
	<tfoot class="thead-light">
		<tr>
			<th colspan="10">Displaying x items</th>
		</tr>
	</tfoot>
</table>
